<% if !alert.nil? %>
  <%= alert %><br />
<% end %>

  <div class="img"><%= link_to image_tag("waterfall-mountains.jpg"), user_trips_path(current_user) %></div>

<!--
  - link to all flights for the user
  - link to all accommodations for the user
  - link to all activities for the user

  - Format such that each option is a small box showing title, description and an image?
-->

<%= link_to "Log Out", logout_path %>
