<h1>Home Page of my App!!!</h1>

<p><%= link_to "Sign Up", new_user_path %></p>
<p><%= link_to "Log In", login_path %></p>

<!--
  - Will eventually need to add an "About" link that redirects to a page explaining the app.
  - Contacts link 
-->
