// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.voucher {
  width: 40%;
  height: 300px;
  border: 5px solid green;
  border-radius: 25px;
  padding: 5px;
  margin: auto;
}

.column-3 {
  width: 33%;
  float: left;
  text-align: center;
}

.column-2 {
  width: 50%;
  float: left;
  text-align: center;
}

.column-1 {
  width: 100%;
  float: left;
  text-align: center;
}

.description-area {
  height: 75px;
  overflow: hidden;
}

.title {
  text-decoration: underline;
}

.activity-form {
  margin: 0 auto;
  width: 350px;
}

.activity-form-header {
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  text-align: center;
}

.activity-creation .activity-form-header {
  background-color: transparent;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}

.activity-form-body {
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  font-size: 14px;
  padding: 20px;
}

.activity-creation .activity-form-body {
  border-radius: 5px;
  border-top: 1px solid #d8dee2;
}

.activity-form-control, .activity-form-select {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

.input-block {
  display: block;
  width: 100%;
}

textarea {
  width: 100%!important;
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.activity-creation .flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.px-3 {
  padding-right: 16px!important;
}

.mt-3 {
  margin-top: 16px!important;
}

.p-0 {
  padding: 0!important;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}
