/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.auth-form-body {
   background-color: #fff;
   border: 1px solid #d8dee2;
   border-radius: 0 0 3px 3px;
   border-top: 0;
   font-size: 14px;
   padding: 20px;
}

.auth-form {
    margin: 0 auto;
    width: 340px;
}

.auth-form-header {
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  text-align: center;
}

.px-3 {
    padding-right: 16px!important;
}

.mt-3 {
  margin-top: 16px!important;
}

.auth-form-body {
  border-radius: 5px;
  border-top: 1px solid #d8dee2;
}

.p-0 {
  padding: 0!important;
}

.form-control, .form-select {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

.input-block {
  display: block;
  width: 100%;
}

.btn-primary {
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    color: #fff;
}

.btn-block {
    display: block;
    text-align: center;
    width: 100%;
}

.btn {
    -moz-appearance: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    appearance: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.create-account-callout {
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    width: 281px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    word-wrap: break-word;
}

body {
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

html {
    color: -internal-root-color;
}
