/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  word-wrap: break-word;
  background-color: #fff;
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav .nav-right {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: red;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.form {
  margin: 0 auto;
  width: 350px;
}

.form-header {
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  text-align: center;
}

.creation .form-header {
  background-color: transparent;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}

.form-body {
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  font-size: 14px;
  padding: 20px;
}

.creation .form-body {
  border-radius: 5px;
  border-top: 1px solid #d8dee2;
}

.form-control, .form-select {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

.input-block {
  display: block;
  width: 100%;
}

textarea {
  width: 100%!important;
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.creation .flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.column-4 {
  float: left;
  width: 25%;
  text-align: center;
}

.column-3 {
  width: 33%;
  float: left;
  text-align: center;
}

.column-2 {
  width: 50%;
  float: left;
  text-align: center;
}

.column-1 {
  width: 100%;
  float: left;
  text-align: center;
}

.title {
  text-decoration: underline;
}

.pb-30 {
  padding-bottom: 30px;
}
