// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form-body {
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  font-size: 14px;
  padding: 20px;
}

.user-creation .signup-form-body {
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
}

.signup-form {
  margin: 0 auto;
  width: 340px;
}

.signup-form-header {
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  text-align: center;
}

.user-creation .signup-form-header {
  background-color: transparent;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}

.profile-form-body {
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 0 0 3px 3px;
  border-top: 0;
  font-size: 14px;
  padding: 20px;
}

.user-profile .profile-form-body {
    border-radius: 5px;
    border-top: 1px solid #d8dee2;
}

.profile-form {
  margin: 0 auto;
  width: 340px;
}

.profile-form-header {
  background-color: #829aa8;
  border: 1px solid #768995;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  text-align: center;
}

.user-profile .profile-form-header {
  background-color: transparent;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  text-shadow: none;
}

.px-3 {
  padding-right: 16px!important;
}

.mt-3 {
  margin-top: 16px!important;
}

.p-0 {
  padding: 0!important;
}

.form-control, .form-select {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

.input-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  color: #fff;
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: .25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.login-callout {
  border: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100%; /* Set a small width */
}

.img-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.column4 {
  float: left;
  width: 25%;
}

.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: DodgerBlue;
  overflow: hidden;
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .logout {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.field_with_errors {
  color: #86181d;
  background-color: #ffdce0;
  width: 100%;
}

.session-authentication .flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.user-profile .flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.user-creation .flash {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    margin: 0 auto 10px;
    padding: 15px 20px;
}

.flash-full {
    border-radius: 0;
    border-width: 1px 0;
    margin-top: -1px;
}

.flash {
    background-color: #dbedff;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 3px;
    color: #032f62;
    padding: 16px;
    position: relative;
}

.flash-error {
    background-color: #ffdce0;
    color: #86181d;
}
